################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Out
/.vs
/Source/AspNetSample/obj/Debug
_ReSharper.Caches/
Source/AspNetMVC/bin/
Source/AspNetMVC/obj/
/Source/AspNetMVC/App_Data/
/artifacts/bin/TheWorld/Debug
